groups:
  - name: default
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Instância {{ $labels.instance }} está fora do ar"
          description: "O alvo {{ $labels.instance }} não está respondendo à consulta `up`."