    - name: Adiciona chave GPG do repositório Prometheus/Grafana
      ansible.builtin.apt_key:
        url: "https://packages.grafana.com/gpg.key"
        state: present

    - name: Adiciona repositório Prometheus/Grafana ao APT
      ansible.builtin.apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present

    - name: Atualiza o cache APT
      ansible.builtin.apt:
        update_cache: yes

    - name: Instala o Alertmanager via APT
      ansible.builtin.apt:
        name: prometheus-alertmanager  # Nome correto do pacote no repositório
        state: present

    - name: Cria arquivo de configuração do Alertmanager
      ansible.builtin.template:
        src: "alertmanager.yml"  # Template do arquivo de configuração
        dest: "/etc/alertmanager/alertmanager.yml"
        owner: "alertmanager"
        group: "alertmanager"
        mode: '0644'

    - name: Cria arquivo de serviço systemd do Alertmanager
      ansible.builtin.copy:
        dest: "/etc/systemd/system/alertmanager.service"
        content: |
          [Unit]
          Description=Alertmanager
          After=network.target

          [Service]
          User=alertmanager
          ExecStart=/usr/bin/alertmanager --config.file=/etc/alertmanager/alertmanager.yml
          Restart=always

          [Install]
          WantedBy=multi-user.target
        mode: '0644'

    - name: Recarrega systemd para reconhecer o novo serviço
      ansible.builtin.systemd:
        daemon_reload: yes

    - name: Inicia e habilita o serviço Alertmanager
      ansible.builtin.service:
        name: alertmanager
        state: started
        enabled: yes